@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Open Sans", sans-serif;
}

h1,
a,
button {
  font-family: "Raleway", sans-serif;
}/*# sourceMappingURL=index.css.map */